In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

%matplotlib inline

## Load data

In [3]:
data = pd.read_csv('ts.csv')
data.head()

       DATE      IN_FOR     OUT_FOR      IN_KZT     OUT_KZT
0  1/1/2016         0.0    122953.0   1899647.0   1584705.0
1  1/2/2016      2942.0    115059.0   2706416.0   2315761.0
2  1/3/2016       263.0    147905.0   3548855.0   2971268.0
3  1/4/2016  13533594.0   9363025.0  23528654.0  11716898.0
4  1/5/2016  36769881.0  32769452.0  37289979.0  22565273.0

##