In [1]:
import pandas as pd

## Load data

In [14]:
data = pd.read_csv('sample.csv')

In [2]:
data_train = pd.read_csv('train.csv')

In [3]:
data_test = pd.read_csv('test.csv')

## Data detalization

In [15]:
data.head()

     id  radius
0  4365    0.14
1  1129    0.91
2  2602    0.79
3  1747    0.93
4  3286    0.76

In [5]:
data_train.head()

     id  amd  intel  radius
0  5571  259    284    0.25
1  4339  205    169    0.26
2  4397  208    430    0.10
3  4088  195    504    0.16
4  1612   99    417    0.17

In [6]:
data_train.columns

Index(['id', 'amd', 'intel', 'radius'], dtype='object')

In [7]:
data_train.amd.describe()

count    5422.000000
mean      154.537993
std        69.836996
min        18.000000
25%        96.000000
50%       152.000000
75%       214.000000
max       288.000000
Name: amd, dtype: float64

In [18]:
data_train.drop('id', axis = 1, inplace = True)

In [8]:
data_train.intel.describe()

count    5422.000000
mean      306.340280
std       167.863611
min        15.000000
25%       154.000000
50%       315.000000
75%       458.000000
max       591.000000
Name: intel, dtype: float64

In [9]:
data_train.radius.describe()

count    5422.000000
mean        0.350906
std         0.220059
min         0.100000
25%         0.190000
50%         0.290000
75%         0.390000
max         0.900000
Name: radius, dtype: float64

In [16]:
data_test.head()

     id  amd  intel
0  4365  206    405
1  1129   80    320
2  2602  136    228
3  1747  105    531
4  3286  161    475

In [19]:
data_test.drop('id', axis = 1, inplace = True)

In [10]:
data_test.amd.describe()

count    603.000000
mean     147.895522
std       70.007575
min       23.000000
25%       90.000000
50%      142.000000
75%      206.500000
max      285.000000
Name: amd, dtype: float64

In [11]:
data_test.intel.describe()

count    603.000000
mean     315.950249
std      168.007725
min       16.000000
25%      164.000000
50%      326.000000
75%      467.500000
max      591.000000
Name: intel, dtype: float64

## Train model

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

# from sklearn.model_selection import train_test_split, TimeSeriesSplit
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import Ridge, LinearRegression
from sklearn.cross_validation import train_test_split

from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import scale
import numpy as np

In [22]:
X_train, X_test = train_test_split(data_train, test_size=0.33, random_state=42)

In [ ]:
### Search paramters
tun_params = {
    'bootstrap': [True, False],
    'max_depth': [2, 5, 10, 15, 20, None],
    'max_features': ['auto', 'sqrt'],
    'min_samples_leaf': [1, 2, 4],
    'min_samples_split': [2, 5, 10],
    'n_estimators': [100, 200, 400, 600, 800, 1000, 1200, 1400]
}